* {
  margin: 0;
  padding: 0;
  transition: 0.1s;
}

body {
  background-color: #3d3d3d;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  color: rgb(190, 226, 255);
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

.spacing {
  line-height: 2;
  word-spacing: 1px;
  margin: 0.8rem 0;
}

span.sample-code {
  background-color: rgb(78, 57, 57);
}

/* Nav */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b4b4b;
  padding: 0 5%;
}

nav .icon {
  font-size: 300%;
  color: #fff200;
}

nav .navLink a {
  color: #3d3d3d;
  background-color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
}

nav .navLink a:hover {
  background-color: #e6e6e6;
  color: black;
}

/* Container */

.container {
  margin-top: 5rem;
  padding: 0 5%;
}

.container .all-content {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

/* Left side */

.container .all-content .left-side {
  width: 70%;
  margin-right: 0.9rem;
  color: #ffffff;
}

.container .all-content .left-side .introduction h2 {
  color: #fff200;
}

.container .all-content .left-side .introduction .make-row {
  display: flex;
  flex-direction: row;
}

.container .all-content .left-side .introduction img {
  width: 40%;
  height: 20%;
}

.section {
  padding: 1.5rem;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 20px;
  box-shadow: 0 1px 2px 1px black;
  margin: 2rem 0;
}

.container .all-content .left-side ul {
  padding-left: 2rem;
  list-style: none;
}

.container .all-content .left-side ul li {
  border-bottom: 1px solid #494949;
  font-size: 16px;
}

.container .all-content .left-side ul li::before {
  content: "\2022";
  color: #555555;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Right side */

.container .all-content .right-side {
  width: 30%;
  margin-left: 0.9rem;
}

.sample-code {
  background-color: #4e3939;
}

.mini-title {
  text-transform: uppercase;
  margin: 1rem 0;
}

.container .all-content .right-side .advertisement {
  cursor: pointer;
  padding: 1rem;
  border: 2px solid #5e5e5e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container .all-content .right-side input {
  background-color: #4b4b4b;
  outline: none;
  border: 2px solid #5e5e5e;
  color: white;
  padding: 5px;
  width: 96.5%;
  font-size: 16px;
}

::placeholder {
  color: #dddddd;
}

.container .all-content .right-side .advertisement p {
  padding: 1rem;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.container .all-content .right-side .advertisement img {
  margin: 0 auto;
  width: 85%;
}

.container .all-content .right-side .ad {
  color: #dddddd;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.container .all-content .right-side ul {
  padding: 0 0 0 2rem;
  list-style: none;
}

.container .all-content .right-side li {
  line-height: 1.5;
}

.container .all-content .right-side ul li::before {
  content: "\2022";
  color: #555555;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Footer */

footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footer-header {
  font-weight: 530;
  text-transform: uppercase;
}

footer .about-tutorial {
  width: 35%;
}

footer li {
  list-style: none;
}

footer li::before {
  content: "\2022";
  color: #555555;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

footer div {
  width: 20%;
  padding: 2rem;
}

/* Burger */

.burger {
  cursor: pointer;
  display: none;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 5px 0;
}

@media only screen and (max-width: 800px) {
  p,
  a,
  .container .all-content .left-side ul li {
    font-size: 28px;
  }
  .container .all-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }

  /* Left side */

  .left-side section.introduction .not-able {
    width: 160%;
  }

  .container .all-content .left-side {
    width: 100%;
    margin-right: 0;
    color: #ffffff;
  }

  .container .all-content .left-side .introduction h2 {
    color: #fff200;
  }

  .container .all-content .left-side .introduction .make-row {
    display: flex;
    flex-direction: row;
  }

  .container .all-content .left-side .introduction img {
    margin-top: 3rem;
    width: 40%;
    height: 20%;
  }

  .container .all-content .left-side ul {
    padding-left: 2rem;
    list-style: none;
  }

  .container .all-content .left-side ul li {
    border-bottom: 1px solid #494949;
  }

  .container .all-content .left-side ul li::before {
    content: "\2022";
    color: #555555;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  /* Right side */

  .container .all-content .right-side {
    width: 50%;
    margin-left: -1rem;
  }

  .container .all-content .right-side .advertisement {
    cursor: pointer;
    padding: 1rem;
    border: 2px solid #5e5e5e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .container .all-content .right-side .advertisement p {
    padding: 1rem;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
  }

  .container .all-content .right-side .advertisement img {
    margin: 0 auto;
    width: 85%;
  }

  .container .all-content .right-side .ad {
    color: #dddddd;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
  }

  .container .all-content .right-side ul {
    padding: 0 0 0 2rem;
    list-style: none;
  }

  .container .all-content .right-side ul li,
  .mini-title {
    width: 200%;
  }

  .container .all-content .right-side ul li::before {
    content: "\2022";
    color: #555555;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  /* Footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    padding-top: 4%;
  }

  footer .about-tutorial {
    width: 80%;
  }

  footer li {
    padding-left: 1rem;
    list-style: none;
  }

  footer li::before {
    content: "\2022";
    color: #555555;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  footer div {
    width: 20%;
    padding: 0 2rem;
  }

  footer a:hover {
    margin-left: 2px;
  }

  footer .creator {
    text-align: center;
  }

  footer .creator p {
    color: #e6e6e6;
  }
}

/* Mobile layout */

@media only screen and (max-width: 700px) {
  p,
  a,
  .container .all-content .left-side ul li {
    font-size: 25px;
  }

  .container {
    margin-top: 0rem;
    padding: 0 5%;
  }

  /* Nav */

  nav .icon {
    font-size: 400%;
    color: #fff200;
  }

  .navLink {
    display: none;
  }

  .myLink {
    position: absolute;
    top: 5vh;
    right: 0;
    display: none;
    background-color: #4b4b4b;
    height: 95vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  .all-content .left-side .introduction img {
    width: 55%;
    height: 35%;
    margin-top: 5rem;
  }

  /* Right side */

  .container .all-content .right-side {
    width: 100%;
    margin-left: 0;
  }

  .container .all-content .right-side ul li,
  .mini-title {
    width: 100%;
    font-size: 35px;
  }

  .container .all-content .right-side ul {
    padding: 0 0 0 1rem;
  }

  /* Left side */

  .container .all-content .left-side ul {
    padding-left: 1rem;
  }

  .left-side section.introduction .not-able {
    width: 170%;
  }

  .container .all-content .left-side .introduction h2 {
    color: #fff200;
    margin-top: 4rem;
    font-size: 50px;
  }

  /* Burger */

  .burger {
    font-size: 300px;
    display: block;
  }

  /* Footer */

  footer {
    padding-top: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  footer .about-tutorial,
  footer div {
    width: 80%;
  }

  footer div {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 520px) {
  p,
  a,
  .container .all-content .left-side ul li {
    font-size: 27px;
  }

  /* Left side */

  .container .all-content .right-side input {
    margin-bottom: 2rem;
  }

  .left-side section.introduction .intro-img {
    margin-top: 0.5rem;
  }

  .left-side section.introduction .not-able {
    width: 140%;
  }
}

@media only screen and (max-width: 380px) {
  .spacing {
    line-height: 1.5;
    word-spacing: 1px;
    margin: 0.6rem 0;
  }

  .all-content .left-side .introduction h2 {
    color: #fff200;
    margin-top: 4rem;
    font-size: 35px;
  }

  a,
  p,
  .container .all-content .left-side ul li {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
  }

  /* Left side */
  .container .all-content .left-side .introduction img {
    margin-top: 10rem;
  }

  .left-side section.introduction .intro-img {
    margin-top: 0;
  }

  .left-side section.introduction .not-able {
    width: 150%;
  }

  /* Right side */

  .container .all-content .right-side li {
    line-height: 1;
  }

  footer li {
    margin-left: 1rem;
  }
}
